@model PagedList.IPagedList<Trinity.Entities.Student>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.FirstName = "Students";
}

@*================================  Drop down items for pagination  ==============================================================================*@
<div>
    @{
        SelectListItem a1 = new SelectListItem() { Text = "2", Value = "2" };
        SelectListItem a2 = new SelectListItem() { Text = "3", Value = "3" };
        SelectListItem a3 = new SelectListItem() { Text = "10", Value = "10" };
        SelectListItem a4 = new SelectListItem() { Text = "15", Value = "15" };
        SelectListItem a5 = new SelectListItem() { Text = "30", Value = "30" };
        List<SelectListItem> dropDownItems = new List<SelectListItem>() { a1, a2, a3, a4, a5 };
    }
</div>

<hr />

@*================================  Search form  ==============================================================================*@

<h2>Students</h2>

<hr />

<div class="searchBox" style="display:flex">
    @using (Html.BeginForm("StudentTableAdmin", "Student", FormMethod.Get, new { @class = "form inline" }))
    {
        @Html.TextBox("searchFirstName", null, new { placeholder = "Search FistName" });
        @Html.TextBox("searchLastName", null, new { placeholder = "Search Last Name" });
        @Html.TextBox("searchTelephone", null, new { placeholder = "Search Telephone" });
        @Html.TextBox("searchEmail", null, new { placeholder = "Search Email" });

        string valueOfViewBag = ViewBag.CurrentSortOrder;
        @Html.TextBox("sortOrder", valueOfViewBag, new { type = "hidden" });
        @Html.DropDownList("pSize", dropDownItems)

        <input type="submit" name="SearchBtn" value="Search" />
    }
</div>

<hr />

@*=======================================  Sorting Action Links  ========================================================================*@
<div>
    <em> Sort By : </em>
    @Html.ActionLink("FirstName", "StudentTableAdmin", "Student", new { sortOrder = ViewBag.FirstNameSortParam }, new { @class = ViewBag.FNPrimary })
    @Html.ActionLink("LastName", "StudentTableAdmin", "Student", new { sortOrder = ViewBag.LastNameSortParam }, new { @class = ViewBag.LNPrimary })
    @Html.ActionLink("Telephone", "StudentTableAdmin", "Student", new { sortOrder = ViewBag.TelephoneSortParam }, new { @class = ViewBag.TePrimary })
    @Html.ActionLink("Email", "StudentTableAdmin", "Student", new { sortOrder = ViewBag.EmailSortParam }, new { @class = ViewBag.EmPrimary })

</div>

<hr />

@*==================================  Students' properties' values TABLE ================================================*@
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>
                @Html.ActionLink("FirstName", "StudentTableAdmin", "Student",
               new
                    {
                        sortOrder = ViewBag.FirstNameSortParam,
                    searchFirstName = ViewBag.CurrentFirstName,
                    searchLastName = ViewBag.CurrentLastName,
                    searchTelephone = ViewBag.CurrentTelephone,
                    searchEmail = ViewBag.CurrentEmail,
                    pSize = ViewBag.CurrentpSize
                },
               new { @class = ViewBag.FNView })
            </th>
            <th>
                @Html.ActionLink("LastName", "StudentTableAdmin", "Student", new
                {
                   sortOrder = ViewBag.LastNameSortParam,
                   searchFirstName = ViewBag.CurrentFirstName,
                   searchLastName = ViewBag.CurrentLastName,
                   searchTelephone = ViewBag.CurrentTelephone,
                   searchEmail = ViewBag.CurrentEmail,
                   pSize = ViewBag.CurrentpSize
                },
                new { @class = ViewBag.LNView })
            </th>

            <th>
                @Html.ActionLink("Telephone", "StudentTableAdmin", "Student",
               new
                    {
                   sortOrder = ViewBag.TelephoneSortParam,
                   searchFirstName = ViewBag.CurrentFirstName,
                   searchLastName = ViewBag.CurrentLastName,
                   searchTelephone = ViewBag.CurrentTelephone,
                   searchEmail = ViewBag.CurrentEmail,
                   pSize = ViewBag.CurrentpSize
                },
               new { @class = ViewBag.TeView })
            </th>
            <th>
                @Html.ActionLink("Email", "StudentTableAdmin", "Student", new
                {
                    sortOrder = ViewBag.EmailSortParam,
                    searchFirstName = ViewBag.CurrentFirstName,
                    searchLastName = ViewBag.CurrentLastName,
                    searchTelephone = ViewBag.CurrentTelephone,
                    searchEmail = ViewBag.CurrentEmail,
                    pSize = ViewBag.CurrentpSize
                },
                new { @class = ViewBag.EmView })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td><a href="/Student/SimpleDetails/@student.StudentId"> <img width="100" height="100" class="img-fluid" src="@student.PhotoURL" alt="Student image" /></a></td>
                <td>@Html.ActionLink((string.Format("{0}", student.FirstName)), "SimpleDetails", "Student", new { id = student.StudentId }, null)</td>
                <td>@Html.DisplayFor(x => student.LastName)</td>
                <td>@Html.DisplayFor(x => student.Telephone)</td>
                <td>@Html.DisplayFor(x => student.Email)</td>

                <td>
                    <button><a href="/Student/SimpleDetails/@student.StudentId">Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

@*================================  Pagination  ==============================================================================*@
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, x => @Url.Action("StudentTableAdmin", "Student",
    new
    {
        page = x,
        sortOrder = ViewBag.CurrentSortOrder,
        searchFirstName = ViewBag.CurrentFirstName,
        searchLastName = ViewBag.CurrentLastName,
        searchTelephone = ViewBag.CurrentTelephone,
        searchEmail = ViewBag.CurrentEmail,
        pSize = ViewBag.CurrentpSize
    }))
</div>
<hr />
