@model Trinity.Web.Models.StatsViewModel

<h2>Statistics</h2>

<div>
    <hr />
    <em> Courses Count : </em>  @string.Format("{0}", Model.CoursesCount)
    <br />
    <em> Students Count : </em>   @string.Format("{0}", Model.StudentsCount)
    <br />
    <em> Subjects Count : </em>   @string.Format("{0}", Model.SubjectsCount)
    <br />
    <em> Teachers Count : </em>   @string.Format("{0}", Model.TeachersCount)
    <br />
    <em> Assignments Count : </em>   @string.Format("{0}", Model.AssignmentsCount)
    <br />
    <em> Marks Count : </em>   @string.Format("{0}", Model.MarksCount)
</div>

<hr />



