@model Trinity.Web.Models.StatsViewModel

<h2>Stats</h2>

<div>
    <hr />
    <em> Courses Count : </em>  @Model.CoursesCount
    <br />
    <em> Students Count : </em>  @Model.StudentsCount
    <br />

    <em> Subjects Count : </em>  @Model.SubjectsCount
    <br />

    <em> Teachers Count : </em>  @Model.TeachersCount
    <br />

    <em> Assignments Count : </em>  @Model.AssignmentsCount
    <br />

    <em> Marks Count : </em>  @Model.MarksCount

</div>

<hr />
