@model Trinity.Web.Models.AllEntities

@{
    ViewBag.Title = "InterConnectedModelStats";
}
@*========================================== THIS LOGIC SHOULD BE IN THE CONTROLLER ========================================================*@


@*-----------------------Statistics about Courses----------------------------------------*@
<hr />

<h2>Statistics on Courses</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Courses</th>
            <th>Subjects</th>
            <th>Students</th>
            <th>Assigments per Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <td> @string.Format("{0}", course.Title)</td>
                <td>
                    <ul>
                        @foreach (var subject in course.Subjects)
                        {
                            <li>@Html.DisplayFor(x => subject.Title)</li>

                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var subject in course.CourseStudents)
                        {
                            <li> @subject.Student.FirstName @subject.Student.LastName</li>
                        }
                    </ul>
                </td>
                <td>
                    Total : @course.CourseStudents.Count
                </td>
            </tr>
        }
    </tbody>
</table>


<hr />


@*-----------------------Statistics about Subjects----------------------------------------*@

<hr />

<h2>Statistics on subjects </h2>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Subjects</th>
            <th>Teachers</th>
            <th>Assignment Title</th>
            <th>Assigments per subject</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model.Subjects)
        {
            <tr>
                <td> @string.Format("{0}", subject.Title)</td>
                <td>
                    <ul>
                        @foreach (var teacher in subject.Teachers)
                        {
                            <li> @string.Format("{0} {1}", teacher.FirstName, teacher.LastName)</li>

                        }
                    </ul>
                    Total : @subject.Teachers.Count
                </td>
                <td>
                    <ul>
                        @foreach (var assignment in subject.Assignments)
                        {
                            <li>@assignment.Title</li>

                        }
                    </ul>
                </td>
                <td>
                    Total : @subject.Assignments.Count
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />

@*==============================MARKS, RELATIONSHIPS AND AVERAGES ================================================================*@
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Student</th>
            <th>Subjects and Assignment marks</th>
            <th>Average mark per course</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var courseStudent in Model.CourseStudents)
        {
            <tr>
                <td> @string.Format("{0, 20} ", courseStudent.Course.Title)</td>
                <td>

                    @string.Format("{0} {1}", courseStudent.Student.FirstName, courseStudent.Student.LastName)
                </td>

                @{
                    double sumStudentTotalMark = 0;
                    double sumStudentAssignmentMark = 0;
                    int counter = 0;
                    double avgStudent = 0;
                    double avgTotalStudent = 0;

                }
                <td>
                    <ul>
                        @foreach (var subject in courseStudent.Course.Subjects)
                        {

                            <li>
                                @string.Format("Subject title : {0}", subject.Title)
                            </li>

                            foreach (var assignment in subject.Assignments)
                            {
                                <li>
                                    @string.Format("Assignment title : {0}", assignment.Title)

                                </li>
                                foreach (var mark in assignment.Marks)
                                {
                                    // Printing the assignment's info for the particular student
                                    if (mark.StudentId == courseStudent.StudentId)
                                    {
                                        <ul>
                                            <li>
                                                @string.Format("Assignment mark : {0} | Subject Total Subject mark : {1} ", mark.AssignmentMark, mark.TotalMark)
                                            </li>
                                        </ul>

                                        //Calculating averages
                                        ++counter;
                                        sumStudentAssignmentMark += mark.AssignmentMark;
                                        sumStudentTotalMark += mark.TotalMark;

                                        avgStudent = sumStudentAssignmentMark / counter;
                                        avgTotalStudent = sumStudentTotalMark / counter;

                                    }

                                }

                            }
                        }
                    </ul>
                </td>



                <td>
                    @*//printing averages*@

                    <ul>
                        <li>
                            @string.Format("Average Assignment mark of student: {0:n} ", avgStudent)

                        </li>
                        <li>
                            @string.Format("Average total mark of student:  {0:n} ", avgTotalStudent)
                        </li>

                    </ul>
                </td>

            </tr>

        }
    </tbody>
</table>

<hr />
